name: Deploy Landing Page

on:
  push:
    branches:
      - main
    paths:
      - 'landing-page/**'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        working-directory: ./landing-page
        run: |
          npm ci
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: landing-page/dist
          branch: gh-pages
